.container {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 1;
  width: 100%;
  display: inline-block;
  border: 1px solid red;
  // background: #33424F;
}

.button {

}

.dropdownButton {
  padding: 8px;
  color: white;
}