.leftPane {
  position: absolute;
  display: block;
  z-index: 1;
  width: 320px;
  height: 100%;
}

.bottomPane {
  position: absolute;
  bottom: 0;
  display: block;
  z-index: 1;
  width: 100vw;
  height: 240px;
}